/* AutocompleteInput.css */
.Search-input-container {
  width: 20%;
  margin-left: 450px;
  border-radius: 10px;
}

.list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  
}

.list-items {
  padding: 10px 5px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.list-items:last-child {
  border-bottom: none;
}

.list-items:hover {
  background-color: #dddddd;
}