/* Home.css */
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';

body {
    /* background-color: rgb(55, 55, 55);
    color: #ffffff; */
    background-image: url(test2.png);
}

.container {
    position: relative;
    display: flex;
    width: 170vh;
    height: 80vh;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 4%;
}

.movie {
    width: 300px;
    height: 450px;
    font-size: 1em;
    text-align: center;
    border-radius: 15px;
    background-size: cover;
    z-index: 1;
    margin-bottom: 30px; /* Aumente o espaço abaixo dos cards */
}

#movie1 {
    background-color: rgb(255, 0, 0);
    background-image: url("lucifer.jpg");
}

#movie2 {
    background-color: rgb(0, 0, 255);
    background-image: url("riverdale.jpg");
}

#movie3 {
    background-color: rgb(0, 255, 0);
    background-image: url("f1_drive_to_survive.jpg");
}

#movie4 {
    background-color: rgb(255, 0, 0);
}

#movie5 {
    background-color: rgb(0, 0, 255);
}

#movie6 {
    background-color: rgb(0, 255, 0);
}



.swiper-button-next{
    margin-right: -8px; /* Ajuste o valor conforme necessário */
    color: white;
  }

.swiper-button-prev {
  margin-right: 1px; /* Ajuste o valor conforme necessário */
  color: white;
}



.swiper-pagination {
    width: 10px; /* Ajuste a largura conforme necessário */
    height: 10px; /* Ajuste a altura conforme necessário */
}

.swiper-slide {
    position: relative;
    margin-right: 20px;
    width: 300px;
    /* Ajuste a largura do slide conforme necessário */
    z-index: 1;
}

.swiper-pagination-bullet {
    width: 15px;
    /* Ajuste a largura dos pontos conforme necessário */
    height: 15px;
    /* Ajuste a altura dos pontos conforme necessário */
    background-color: rgb(119, 122, 122);
    /* Troque para a cor branca desejada */
    opacity: 1;
    /* Ajuste a opacidade conforme necessário */
}

.swiper-pagination-bullet-active {
    background-color: rgb(255, 255, 255);
    /* Cor branca para o ponto de paginação ativo */
    opacity: 1;
    /* Opacidade total para o ponto de paginação ativo */
}

.container .swiper-pagination {
    top: var(--swiper-pagination-top, 73%);
   
}





/* Adicione estas novas regras para os botões */
.Review {
    border: 1px solid #6a0000; /* Adiciona uma borda para destacar o botão */
    border-radius: 50px;
    background-color: #6a0000; /* Adiciona cor de fundo ao botão */
  
    color: white;
    padding: 5px 30px;
    cursor: pointer;

    font-size: 20px !important;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    
}

.New-review {
    border: 1px solid #6a0000; /* Cor da borda do botão New Review */
    border-radius: 10px; /* Raio da borda do botão New Review */
    background-color: #6a0000;/* Cor de fundo do botão New Review */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 10px; /* Distância do topo em relação ao contêiner pai */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Corrige o deslocamento horizontal */
    z-index: 2; /* Coloca o botão acima dos filmes (z-index maior) */
}


.tudo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 25%;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Cor de fundo transparente */
    border: none; /* Remove a borda padrão */
    font-size: 24px; /* Tamanho da fonte */
    color: white; /* Cor do texto */
    cursor: pointer;
    margin-top: 10px; /* Espaçamento superior para separar os botões */
}

.action-button:hover {
    color: #6a0000; /* Cor do texto ao passar o mouse */
}

.FaHeart {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.FaPlus {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.FaEye {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.actions-container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-around; /* Distribui o espaço entre os itens */
    gap: 10px; /* Adiciona um espaço entre os itens */
  }


  .favorite-button {
    background-color: transparent; /* Remove qualquer cor de fundo */
    border: none; /* Remove a borda, se houver */
    cursor: pointer; /* Mantém o cursor como ponteiro para indicar ação */
    margin-left: 80%; /* Ajusta a margem à esquerda para mover o ícone para a direita */
    color: white; /* Ajusta a cor do ícone, se necessário */
}

/* Se desejar aplicar o efeito somente ao ícone dentro do botão */
.favorite-button svg {

    margin-bottom: 70%;
    font-size: 24px;
}

.favorite-button:hover {
    color: #6a0000; /* Cor do ícone ao passar o mouse */
}