/* MySeries.css */
.mySeriesContainer {
  padding: 70px;
}

.categorySection {
  margin-bottom: 50px;
}

.categoryTitle {
  color: rgb(255, 255, 255);
  padding-left: 50px; /* Ajustar conforme necessário */
  margin-bottom: 10px;
}

.mySeriesMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px; /* Espaço dentro de cada SwiperSlide */
}

.mySeriesMovie img {
  max-width: 110px; /* Ajustar para o tamanho desejado das miniaturas */
  height: auto;
  border-radius: 9px;
}

