.left-SerieHub{
    display: flex;
    flex-direction: row;
    padding-left: 18%;
    padding-top: 5%;
    width: 100%;

}
.left-container{
    height: 50px;
    width: 50%;
 
}


.movieTest {
    width: 380px;
    height: 550px;
    font-size: 1em;
    text-align: center;
    border-radius: 15px;
    background-size: cover;
    z-index: 1;
    margin-bottom: 30px; /* Aumente o espaço abaixo dos cards */
}


.vertical-line-SerieHub {
    border-left: 2px solid rgba(255, 255, 255, 0.356);
    height: 60%;
    margin: 1% 23% ;
    position: absolute; /* Adicione esta linha para posicionar absolutamente em relação ao .left-SerieHub */
    top: 1; /* Ajuste conforme necessário para a posição vertical desejada */
    z-index: 1; /* Defina um valor maior do que o z-index do .movieTest */
}

/* SerieHub.css */
.right-SerieHub {
    flex-grow: 1;

    padding-left: calc(50% + 1px); /* Ajuste conforme necessário */
   
}

.reviews {
    display: flex;
    flex-direction: column; /* Mude para column para alinhar verticalmente */
    align-items: flex-start; /* Alinha os itens à esquerda */
    justify-content: flex-start; /* Inicia o conteúdo no topo */
    gap: 20px; /* Espaçamento entre reviews */
}



